body {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

h1 {
    margin: 0px;
}
button {
    width: 200px;
}
* {
    font-family: sans;
}

.trip-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    font-size: 9px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: #eeeeee;
}

.trip-header {
    background: white;
        border: 2px solid #bdbdbd42;
    display: flex;
    justify-content: space-between;
    padding:10px;
    padding-right: 15px;
    border-radius: 8px;
    color: #000d2a;
}

.trip-header:hover {
    cursor: pointer;
    filter: brightness(99.5%);
}

.trip-header2 {
    display: flex;
    justify-content: space-between;
    padding:10px;
    padding-right: 15px;
    color: #000d2a;
    margin-top: 5px;
}

.trip-header-time {
    margin: 0px;
}
.trip-header-text {
    margin: 0px;
}

.trip-header-change-outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
}

.trip-header-hr {
    outline: none;
    border: none;
    background: #bdbdbd42;
    width: 2px;
    height: 100%;
    margin-right: 15px;
    margin-left: 10px;
}

.trip-header-change {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.trip-header-change-count {
    font-size: 25px;
}

.trip-header-change-title {
    font-size: 14px;
}

.trip-details {
    width: 100%;
}

.trips-hr {
    height: 2px;
    border: none;
    width: 95%;
    border-bottom: 2px solid #dcdcdc;

}

.trip-header-mode {
    background: #ecbd01;
    width: fit-content;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 4px;
}