body {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;

}

h1 {
    margin: 0px;
}
button {
    width: 200px;
}
* {
    font-family: sans;
}

.trip-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    font-size: 9px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: #eeeeee;
}

.trip-header {
    background: white;
        border: 1px solid #d4d4d4;
    display: flex;
    justify-content: space-between;
    padding:10px;
    padding-right: 15px;
    border-radius: 8px;
    color: #000d2a;
}

.trip-header:hover {
    cursor: pointer;
    filter: brightness(99.5%);
}

.trip-header2 {
    display: flex;
    justify-content: space-between;
    padding:10px;
    padding-right: 15px;
    color: #000d2a;
    margin-top: 5px;
}

.trip-header-time {
    margin: 0px;
    width: 100%;
}
.trip-header-text {
    margin: 0px;
}
.trip-header-text2 {
    margin: 0px;
    font-size: 16px;
}

.trip-header-change-outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
}

.trip-header-hr {
    outline: none;
    border: none;
    background: #bdbdbd42;
    width: 2px;
    height: 100%;
    margin-right: 15px;
    margin-left: 10px;
}

.trip-header-change {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.trip-header-change-count {
    font-size: 25px;
}

.trip-header-change-title {
    font-size: 14px;
}

.trip-details {
    width: 100%;
}

.trips-hr {
    height: 2px;
    border: none;
    width: 95%;
    border-bottom: 2px solid #dcdcdc;

}

.trip-header-mode {
    background: #ecbd01;
    width: fit-content;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 4px;
}

.trip-header-mode2 {
    background: #001f3b;
    width: fit-content;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 4px;
    color: white;
}

.trip-header-mini {
    display: flex;
    justify-content: space-between;
}

.trip-header-text3 {
        margin: 0px;
    padding: 0px;
    font-size: 12px;
    background: #000d4c;
    color: white;
        padding: 2px;
    border-radius: 3px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px;
}

.trip-header-duration {
    color: #9e9e9e;
}

.trip-header-duration2 {
        color: #000d4c7a;
    background: #f8f8f8;
        padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 4px;
    margin: 0px;
}

.trip-header-mode-con {
    display: flex;
    align-items: center;
}

.trip-header-notes {
    color: #9e9e9e;
    margin: 0px;
    padding: 0px;
    margin-left: 10px;
    font-size: 13px;
}

.trip-header-notes-caution {
    font-size: 12px;
        color: #000d4c7a;
    background: #f8f8f8;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 4px;
    margin-top: 10px;
}

.trip-header-mini-mini {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    height: fit-content;
}

#loading {
    display: none;
    border: 10px solid #f3f3f3;
    border-top: 10px solid #ecbd01;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    position: absolute;
    transform: translate(-50%, -50%);
    margin-top: 50px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.input-container {
    width: 428px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background: #ffffff4f;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    border-radius: 5px;
        border: 1px solid #d4d4d4;
}

.input-title {
    font-size: 12px;
}

input {
    background: white;
  font-weight: bold;
    border: none;
    outline: none;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
    margin-top: 5px;
    width: 90%;
}

input::placeholder {
    opacity: 0.4;
}

.user-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.a-b-container {
    margin-right: 20px;
    displaY: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

.a-b-hr {
    height: 50px;
    width: 2px;
    background: #d4d4d4;
    outline: none;
    border: none;
    margin: 0px;
    margin: 3px;
}

.a-b-a {
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    border-radius: 50%;
    background: #5d5d5d;
    width: 20px;
    height: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.a-b-b {
    font-size: 13px;
    margin: 0px;
    padding: 0px;
    border-radius: 50%;
    background: #ff414b;
    width: 20px;
    height: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
}

button {
    outline: none;
    border: none;
    border-radius: 5px;
    background: #000d2a;
    color: white;
    margin-top: 20px;
    width: 500px;
    padding: 10px;
    margin-bottom: 20px;
    text-decoration: underline;
}

button:hover {
    cursor: pointer;
}

.rejser-image-container {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    flex-direction: column;
}

.rejser-hr {
    background: #d4d4d4;
    height: 2px;
    width: 300px;
    margin-top: 20px;
    outline: none;
    border: none;
}

.rejser-image {
    width: 50%;
}